body{
    background-color: #0f1f38;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
}
.contenedor>*{
    padding: 1em;
    text-align: center;
}
.contenedor>nav{
    padding: 0%;
    margin: 0;
}

header,nav,footer{
    flex-basis: 100%;
}
aside{
    flex-basis: 15%;
    background-color: #15171a;
}
article{
    flex-grow: 1;
    background-color: #15171ada;
    width: 500px;
    color: #555d61;
}

header{
    background-color: #f55449;
    color: aliceblue;
    font-weight: bold;
    font-size: 40px;
}
nav{
    background-color: #1b4b5a;
    display: flex;
    justify-content: space-around;
}
footer{
    background-color: #8e786f;
    color: aliceblue;
}

ul>li>a{
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    color: rgb(99, 99, 243);
}
ul>li{
    display: inline;
    padding-inline: 15px;
    border: 0;
}
ul{
    
    display: flex;
}
a:hover{
    color: cornsilk;
    background-color: mediumseagreen;
    transition: 0.4s;
}
header>img{
    width: 90px;
}
form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
form>input{
    padding: 1em;
    margin: 1em;
}
#reference{
    background-color: rgb(255, 136, 0);
    height: 40px;
    width: 1200px;
    border-radius: 10px;
    border: 1px solid black;
    text-decoration: none;
    margin-bottom: 20px;
    margin-left: 58%;
    padding-top: 0px;
    padding-bottom: 10px;
}
.li1{
    color: white;
    font-size: 20px;
    margin-left: 0%;
    margin-right: 20px;
}
.fondo{
    min-height: 400px;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0 auto
}
