@import url('https://fonts.googleapis.com/css?family=Supermercado+One&display=swap');
*{
    font-family: 'Supermercado One', cursive;
}
body{
    background-color: #0f1f38;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
}
.contenedor>*{
    padding: 1em;
    text-align: center;
}
.contenedor>nav{
    padding: 0%;
    margin: 0;
}

header,nav,footer{
    flex-basis: 100%;
}
.loginbox{
    margin: 20px auto;
    width: 300px;
    border-style: solid;
    border-color: aqua;
    padding: 20px;
    background-color: #FFF;
    margin:25px auto;
    border-radius: 15px;

}
.loginbox .fila{
    margin-bottom: 10px
}
.loginbox .fila input{
    text-align: left;
    border: 2px solid transparent;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
    background-color: #ECF0F1;
}

.loginbox .fila input:focus {
    border: 2px solid #ac0606;
    box-shadow: none;
  }
  
  .loginbox .btnlogin {
    border: 2px solid transparent;
    background: #000000;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 15px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
  }
  .loginbox .btnlogin:hover {
    background-color: rgb(94, 98, 100);

  } 


.LoginName {
    text-align: center;
    color: #da9833;
    font-family: 'Supermercado One', cursive;
    }

header{
    background-color: #f55449;
    color: aliceblue;
    font-weight: bold;
    font-size: 40px;
}
nav{
    background-color: #1b4b5a;
    display: flex;
    justify-content: space-around;
}
footer{
    background-color: #8e786f;
    color: aliceblue;
}

<<<<<<< HEAD
ul>li>a{
    
=======
a{
    text-decoration: none;
>>>>>>> 2a0a7488ea5ee22fd12a04611668d025a50de3e8
    font-weight: bold;
    padding: 10px;
    color: rgb(99, 99, 243);
}
ul>li{
    display: inline;
    padding-inline: 15px;
    border: 0;
        

}
ul{
    
    display: flex;
}
a:hover{
    color: cornsilk;
    background-color: mediumseagreen;
    transition: 0.4s;
}
header>img{
    width: 90px;
}
form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
form>input{
    padding: 1em;
    margin: 1em;
}
.menuInferior{
    display: flex;
    padding:0;
    margin: 0;
    width: 310px;
    margin: auto 0 auto auto;
}

.menuOpciones{
    margin: 10px 0;
    text-align: right;
}
.nombre{
    color: blanchedalmond;
}  
}
.fondo{
    min-height: 400px;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0 auto
}

/* Footer */
  .container-body{
    display: flex;
    justify-content: space-between;
}
  .colum1{
    flex-basis: 35%;
    padding: 1em;
}
  .colum1 h1{
    font-size: 22px;
}
  .colum1 p{
    margin-top: 10px;
    margin-left: 20px;
    color: #444;
    padding: 1em;
}
  .disminuye{
    width: 50px;
    height: auto;
}
  .colum2{
    flex-basis: 35%;
}
  .colum2 h1{
    font-size: 22px;
}
  .row{
    margin-top: 20px;
    font-weight: bold;
    display: flex;
}
  .row img{
    width: 36px;
    height: 36px;
}
  .row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #444;
}
  .colum3{
    flex-grow: 1;
}
  .colum3 h1{
    font-size: 22px;
}
  .row2{
    margin-top: 20px;
    display: flex;
    color: #444;
    font-weight: bold;
}
  .row2 img{
    width: 36px;
    height: 36px;
}
  .row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}
  .footer{
    max-width: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
}
  .img{
    width: 50%;
    height: 50px;
    float: right;
    text-align: left;
    padding-top: 10px;
    box-sizing: border-box;
}